* {
  margin: 0px;
  padding: 0px;

}
main {
  width: 1000px;
  height: auto;
  background: linear-gradient(#1f0f13, #6f5964);
  margin: 0 auto;
}
header {
  background-color: rgb(219, 217, 213);
  max-height: 100%; 
 max-width:100% ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.nav img {
  width: 400px;
  height: 250px;
  border: 5px solid rgb(202, 183, 183);
  margin: 10px;
}
.nav {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.nav-b p {
  background-color: rgb(219, 217, 213);
  width: 500px;
  height:250px;
  padding:10px;
  font-family: cursive;
}

.nav-b h2 {
  background: linear-gradient(#bdbdbf, #888694, #bdbdbf);
  color: white;
  padding: 10px;
}

.nav-b {
  align-items: center;
  margin: 10px;
}

button {
  color: white;
  background-color:#407d61;
  border-radius:5px;
  margin-left: 100px;
  margin-bottom: 15px;
  padding: 5px;

}
.logos {
  display: flex block;
  align-items: center;
  justify-content: space-between ;
  margin-left: 15px;
}
.logos img {
  width: 40px;
  height: 40px;
  margin: 5px;
  
}

.box-1,.box-2 {
  width: 300px;
  background: #ece4eb; 
  
}

.lamode{
  max-height: 100%;
  max-width: 100%;
 
}
.body3 {
  display: flex;
  justify-content: space-between;
  padding:20px;
}

.box-1 h2,.box-2 h2  {
  padding: 10px;
}

.box-1 p,.box-2 p{
  padding:10px;
  margin-bottom: 50px;
  height:150px;
  
}
.body3 h2{
    color: white;
    background: linear-gradient(#bdbdbf, #888694, #bdbdbf);
}
h1{
    font-family: "Comic Sans MS";

}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(223, 211, 211);
  }
  .social {
    display: flex;
    width: 362px;
    padding: 10px;
    margin: auto;
  }
  footer img {
    width: 20px;
    margin: auto;
  }